---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Beach Patrol | Sunshine Coast Council">
  <header
    class="bg-primary min-h-screen pl-[80px] pr-[100px] flex justify-between flex-col"
  >
    <div>
      <nav
        class="w-full h-full pt-[36px] flex flex-row justify-between items-center"
      >
        <img
          src="council-logo-clear-jpeg.png"
          alt="Council Logo"
          class="w-[303px]"
        />
        <ul
          class="flex flex-row justify-between items-center gap-10 text-textdark text-[24px]"
        >
          <li>About</li>
          <li>History</li>
          <li>Locations &darr;</li>
        </ul>
      </nav>
      <section class="pl-[20px] mt-[180px] flex gap-3 flex-col">
        <h1 class="font-rowdies text-textdark text-[72px] max-w-[20ch]">
          Uncover Queensland's Natural Beauty
        </h1>
        <p class="font-inter text-textdark text-[20px]">
          Release your inner stress in the best way possible - a beautiful day
          in a small slice of paradise
        </p>
        <div
          class="bg-[#C1D8E4] cursor-pointer select-none w-[200px] text-center p-3 rounded text-text text-opacity-50"
        >
          Learn More
        </div>
      </section>
    </div>
    <div class="text-center text-textdark text-4xl pb-5">&darr;</div>
  </header>
  <main class="pt-5 pb-5">
    <h2
      class="font-inter pl-[100px] pb-5 font-bold text-3xl | section-title-line-around"
    >
      Over 7,400 kilometers of coastline to explore
    </h2>
    <div class="flex flex-col justify-center items-center">
      <div class="grid grid-rows-1 grid-cols-3 w-[75%] gap-5">
        <Card href="/" title="test" body="test" />
        <Card href="/" title="test" body="test" />
        <Card href="/" title="test" body="test" />
      </div>
    </div>
  </main>
  <footer>This is a footer!</footer>
</Layout>

<style>
  header {
    background: url(/beach-landscape-cropped.png);
    /* make it so the background image expands over the entire screen for a hero section */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* can you make it so it doesn't overflow off the page and give horizontal scroll bars */
  }
  body {
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
  }

  li:hover {
    cursor: pointer;
    user-select: none;
  }
  .section-title-line-around::before {
    content: "";
    display: inline-block;
    width: 20%;
    height: 1px;
    background-color: #000;
    vertical-align: middle;
    margin: 0 10px;
  }
  .section-title.line-around::after {
    content: "";
    display: inline-block;
    width: 20%;
    height: 1px;
    background-color: #000;
    vertical-align: middle;
    margin: 0 10px;
  }
</style>
